In [1]:
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
import glob
import os

# Combine all data into csvs for visualization

### Combine all ride count data
> df19_count_clean is from 2019 & df_counts.csv is from 2020-2023

In [7]:
df_counts1 = pd.read_csv('df_counts.csv')
df_counts2 = pd.read_csv('df19_count.csv')
combined_counts_df = pd.concat([df_counts1, df_counts2], ignore_index=True)

Combine month and year column to create date column

In [8]:
combined_counts_df['combined_date'] = pd.to_datetime(combined_counts_df['year'].astype(str) + '-' + combined_counts_df['month'].astype(str), format='%Y-%m').dt.to_period('M')

Convert combined count df to csv

In [9]:
combined_counts_df.to_csv('combined_counts.csv', index=False)

### Combine all payment type data

In [14]:
df_pay1 = pd.read_csv('df_pay_breakdowns.csv')
df_pay2 = pd.read_csv('df19_pay_breakdown.csv')
combined_pay_df = pd.concat([df_pay1, df_pay2], ignore_index=True)

In [18]:
combined_pay_df

  Payment Type     Count  Year
0  Credit Card  17255529  2020
1         Cash   6050409  2020
2  Credit Card  22245974  2021
3         Cash   6536472  2021
4  Credit Card  29796585  2022
5         Cash   7569962  2022
6  Credit Card  60243015  2019
7         Cash  22604397  2019

Pivot the payment type data so that 'payment type' is the index in order to compare each year by payment type breakdown

In [15]:
pivot_df = combined_pay_df.pivot(index='Payment Type', columns='Year', values='Count')

In [19]:
pivot_df

Year              2019      2020      2021      2022
Payment Type
Cash          22604397   6050409   6536472   7569962
Credit Card   60243015  17255529  22245974  29796585

In [26]:
pivot_df.to_csv('combined_pay_reformatted.csv')

### Combine all median tip data

In [21]:
df_tips1 = pd.read_csv('df_tips.csv')
df_tips2 = pd.read_csv('df19_tip.csv')
combined_tip_df = pd.concat([df_tips1, df_tips2], ignore_index=True)

Combine month and year column to create date column

In [23]:
combined_tip_df['combined_date'] = pd.to_datetime(combined_tip_df['year'].astype(str) + '-' + combined_tip_df['month'].astype(str), format='%Y-%m').dt.to_period('M')

Convert combined count df to csv

In [25]:
combined_tip_df.to_csv('combined_tips.csv', index=False)